@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply 
        transition-all
        duration-300
    }

    /* defaults */
    h1{
        @apply
        text-3xl
        sm:text-2xl
    }
    
    h2{
        @apply
        text-xl
        text-default
        sm:text-base
    }
    
    h3{
        font-size: 1.15rem;
        @apply
        sm:text-base
    }
    
    h4{
        font-size: 1.01rem;
        font-weight: 500;
        @apply
        sm:font-normal
        sm:text-base
    }
    
    p{
        font-size: 1rem;
        font-weight: lighter;
    
    }

    img{
        max-width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}

@layer utilities{
    .container--child{
        @apply
        transition-all
        duration-300
        p-4
        m-auto
        w-55
        mt-16
        sm:min-w-full 
        md:w-80
    }
}

@layer components{
    
    .flex--col{
        @apply
        flex
        flex-col
        gap-2
        justify-center
        items-center
    }

    .flex--row{
        @apply
        flex
        flex-row
        gap-2
        justify-center
        items-center
    }

    .btn-primary{
        @apply
        bg-primary
        p-2
        md:p-3
        lg:p-3
        cursor-pointer
        text-default
        hover:opacity-70
        rounded-md
        w-full
    }

    .btn-secondary{
        font-size: 0.8rem;
        text-transform: capitalize;
        @apply
        rounded-md
        p-2
        px-4
        bg-secondary
        text-dark
        cursor-pointer
    }

    .btn-secondary:hover{
        @apply
        bg-grey
        border-secondary
        border
        text-default
    }

    .btn-small{
        font-size: 0.8rem;
        text-transform: capitalize;
        @apply
        rounded-md
        px-1
        bg-primary
        text-dark
        cursor-pointer
    }

    input[type=submit]{
        @apply
        bg-primary
        md:p-3
        lg:p-3
        cursor-pointer
        text-default
        hover:opacity-70
    }

    input{
        @apply
        w-full
        rounded-md
        p-2
        md:p-3
        lg:p-3
        text-base
        resize-none
        font-light
        border
        border-solid
        border-primary
        caret-primary
    }
    input:hover{
        outline: 1px solid grey;
    }
}